.wrapp {
  position: relative;
  
  
  &__profile {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 8px;
    color: var(--white-color);
  }

  &__img {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 100%;
  }

  &__triangle {
    transition: transform 0.3s ease;

    &_open {
      transform: rotate(180deg);
    }
  }

  &__buttons {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    border-radius: 2px;

    &_button {
      background-color: inherit;
      color: var(--dark-black-color);
      font-family: var(--poppins);
      font-weight: 400;
      font-size: 12px;
      line-height: 183%;
    }
  }
}


.header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: grid;
}

.cover {
  max-width: 1170px;
  width: 100%;
  display: flex;
  z-index: 10;
  color: var(--white-color);
  padding: 29px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-white-color);

  &__subtitle {
    font-size: 33.88px;
    font-weight: 500;
    letter-spacing: 14.5%;
    line-height: 125%;
    color: var(--white-color);
    
  }

  &__button {
    background-color: inherit;
    color: var(--white-color);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 183%;
  }
}

.cover_logo {
  display: flex;
  gap: 16.07px;
  align-items: baseline;
}

.title {
  display: flex;
  z-index: 10;
  justify-content: center;
  line-height: 150%;
  color: var(--white-color);
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  padding-top: 108px;
  padding-bottom: 142px;
}
