.pag {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  gap: 15px;
}

.pag_list {
  display: flex;
  justify-content: center;
  gap: 30px;

  &__button {
    max-height: 40px;
    aspect-ratio: 1;
    background-color: var(--yellow-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);

    &:hover {
      background-color: var(--yellow-dark-color);
    }
  }

  &__active {
    background-color: yellowgreen;
  }

  &__edge {
    opacity: 0;
    cursor:auto;
  }
}
