.cover {
    width: 1172px;
    min-height: 739px;
    background-color: var(--white-color);
    border-radius: 10px;
    border: 1px solid var(--gray-line);
    margin-bottom: 60px;
    padding-top: 28px;
    display: flex;
    justify-content: center;
}